// Utils
$font-stack: 'Qanelas Soft', Helvetica, Arial, sans-serif;

$red: #FF445B;
$blue: #27398A;
$gray: #B3BFD2;
$black: #000;
$gray2: #181818;
$white: #fff;

// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin boxsizing($boxmodel) {
  box-sizing: $boxmodel;
}

// General content
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: $black;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: $font-stack;
  color: $white;
  font-weight: 800;
}

* {
  @include boxsizing(border-box);
}

// Header
.header {
  width: 100%;
  height: 128px;
  position: fixed;
  z-index: 101;
  padding: 35px 40px;
  .logo {
    display: none;
    width: 116px;
    height: 47px;
    float: left;
    img {
      display: block;
      width: 100%;
    }
  }
  .main-nav {
    float: right;
    a {
      color: $white;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

// Navigation
.nav-bar {
  position: absolute;
  left: 59px;
  top: 50%;
  margin-top: -110px;
  z-index: 99;
  li {
    margin-bottom: 24px;
    &:last-child {
      margin: 0;
    }
    &.active {
      a {
        background-color: $white;
      }
    }
    a {
      display: block;
      width: 17px;
      height: 17px;
      background-color: $black;
      text-indent: -999em;
      @include border-radius(50%);
    }
  }
}

// Fix navigation style
#fp-nav ul li, .fp-slidesNav ul li {
  width: 17px;
  height: 17px;
  margin: 24px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  height: 100%;
  width: 100%;
  background: $black;
  margin: -8px 0 0 -8px;
}

#fp-nav.white ul li a span, .fp-slidesNav.white ul li a span {
  background: $white;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
  width: 10px;
  height: 10px;
  background: transparent;
  margin: -5px 0 0 -5px;
}

#fp-nav ul li:hover a span {
  width: 10px;
  height: 10px;
  background: transparent;
  margin: -5px 0 0 -5px;
  border: 2px solid $white;
}

#fp-nav.white ul li:hover a span {
  border: 2px solid $red;
}

#fp-nav ul li a.active span {
  width: 10px;
  height: 10px;
  background: transparent;
  margin: -5px 0 0 -5px;
  border: 2px solid $white;
}

#fp-nav.white ul li a.active span {
  background: transparent;
  border: 2px solid $red;
}

#fp-nav ul li .fp-tooltip {
    top: 2px;
}

#fp-nav ul li .fp-tooltip {
    font-family: $font-stack;
    font-weight: 400;
}

#fp-nav.white ul li .fp-tooltip {
    color: $red;
}

#fp-nav ul li .fp-tooltip.left {
    left: 23px;
}

// Sections pages
.section {
  &.page-red {
    background-color: $red;
  }
  &.page-blue {
    background-color: $blue;
  }
  &.page-gray {
    background-color: $gray;
  }
  &.page-black {
    background-color: $black;
  }

  &.home {
    position: relative;
    .logo {
      position: absolute;
      width: 870px;
      height: 374px;
      top: 50%;
      left: 50%;
      margin: -187px 0 0 -435px;
      z-index: 100; 
    }
  }

  .wrapper {
    margin: 220px 480px;
    p {
      font-size: 56px;
      line-height: 76px;
      &.msg {
        font-size: 16px;
        font-weight: 400;
        display: none;
      }
    }
  }

  &.historia {
    .wrapper {
      p {
        &.wt {
          color: $white;
          margin-bottom: 50px;
        }
        &.bl {
          color: $black;
        }
      }
    }
  }

  &.aurora {
    .wrapper {
      h2 {
        font-size: 68px;
        margin-bottom: 90px;
      }
      p {
        color: $black;
      }
      ul {
        li {
          position: relative;
          margin-bottom: 100px;
          span {
            position: absolute;
            left: -160px;
            top: 35px;
            display: block;
            width: 160px;
            height: 20px;
            background-color: $white;
            margin-left: -80px;
            @include border-radius(10px);
          }
        }
      }
    }
  }

  &.mindset {
    .wrapper {
      p {
        color: $white;
        margin-bottom: 80px;
        &.red {
          color: $red;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      ul {
        li {
          position: relative;
          margin-bottom: 100px;
          span {
            position: absolute;
            left: -160px;
            top: 35px;
            display: block;
            width: 160px;
            height: 20px;
            background-color: $white;
            margin-left: -80px;
            @include border-radius(10px);
          }
        }
      }
    }
    img {
      width: 100%;
      display: block;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &.contato {
    .wrapper {
      p {
        color: $white;
      }
      .form {
        width: 100%;
        margin-top: 145px;
        
        input {
          width: 70%;
          height: 70px;
          background: transparent;
          border: none;
          font-family: $font-stack;
          font-weight: 800;
          color: $white;
          font-size: 53px;
          &:focus {
            outline: none;  
          }

          input:-webkit-autofill,
          input:-webkit-autofill:hover, 
          input:-webkit-autofill:focus
          input:-webkit-autofill {
            -webkit-text-fill-color: $white;
            -webkit-box-shadow: 0 0 0px 1000px #000 inset;
            transition: background-color 5000s ease-in-out 0s;
          }
          
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: $white;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: $white;
          opacity: 1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: $white;
          opacity: 1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $white;
        }
        
        button {
          width: 10%;
          height: 70px;
          background: transparent;
          border: none;
          font-family: $font-stack;
          font-weight: 800;
          color: $white;
          font-size: 36px;
          float: right;
          cursor: pointer;
          &:focus {
            outline: none;  
          }
        }

        span {
          display: block;
          width: 100%;
          height: 10px;
          background: $white;
          margin-top: 35px;
          @include border-radius(5px);
        }
      }
    }
  }

}

.foo {
  width: 100%;
  padding: 125px 240px;
  background: $gray2;
  ul.clients {
    text-align: center;
    li {
      width: 15%;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 60px;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  ul.copy {
    text-align: center;
    margin: 120px 0 0 0;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 50px;
      &.logo-footer {
        width: 120px;
      }
      a {
        color: $white;
        text-decoration: none;
        -webkit-transition: color 1s;
        transition: color 1s;
        &:hover {
          color: $red;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

// Media Queries
@media only screen and (max-width: 1680px){
  .section {
    
    .wrapper {
      margin: 10% 20%;
      p {
        font-size: 52px;
        line-height: 70px;
      }
    }

     &.home {
      .logo {
        width: 786px;
        height: 338px;
        margin: -169px 0 0 -393px;
      }
    }

    &.aurora {
      .wrapper {
        h2 {
          margin-bottom: 50px;
        }
        ul {
          li {
            margin-bottom: 50px;
          }
        }
      }
    }

    &.mindset {
      .wrapper {
        margin-bottom: 0;
        p {
          margin-bottom: 50px;
        }
      }
    }

    &.contato {
      .wrapper {
        .form {
          margin-top: 80px;
          
          input {
            height: 50px;
            font-size: 43px;
            font-family: $font-stack;
            font-weight: 800;
          }

          input:-webkit-autofill,
          input:-webkit-autofill:hover, 
          input:-webkit-autofill:focus
          input:-webkit-autofill {
            -webkit-text-fill-color: $white;
            -webkit-box-shadow: 0 0 0px 1000px #000 inset;
            transition: background-color 5000s ease-in-out 0s;
          }
          
          button {
            height: 50px;
            font-size: 43px;
            font-family: $font-stack;
            font-weight: 800;
          }

          span {
            height: 7px;
            margin-top: 25px;
          }
        }
      }
    }

  }

  .foo {
    padding: 10% 15%;
    ul.clients {
      li {
        width: 15%;
        margin-bottom: 30px;
        img {
          width: 80%;
          display: block;
          margin: 0 auto;
          &.globo {
            width: 50%;
          }
        }
      }
    }
    ul.copy {
      text-align: center;
      margin: 120px 0 0 0;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 50px;
        &.logo-footer {
          width: 120px;
        }
        a {
          color: $white;
          text-decoration: none;
          -webkit-transition: color 1s;
          transition: color 1s;
          &:hover {
            color: $red;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }

}

// Menor que 1280
@media only screen and (max-width: 1280px){
  .section {
    &.home {
      .logo {
        width: 760px;
        height: 304px;
        margin: -152px 0 0 -380px;
      }
    }

    .wrapper {
      margin: 10% 20%;
      p {
        font-size: 46px;
        line-height: 66px;
      }
    }

    &.aurora {
      .wrapper {
        h2 {
          margin-bottom: 50px;
        }
        ul {
          li {
            margin-bottom: 50px;
            span {
              display: none;
            }
          }
        }
      }
    }

    &.mindset {
      .wrapper {
        margin-bottom: 0;
        p {
          margin-bottom: 50px;
        }
      }
    }

    &.contato {
      .wrapper {
        .form {
          margin-top: 80px;
          
          input {
            height: 50px;
            font-size: 43px;
            font-family: $font-stack;
            font-weight: 800;
          }

          input:-webkit-autofill,
          input:-webkit-autofill:hover, 
          input:-webkit-autofill:focus
          input:-webkit-autofill {
            -webkit-text-fill-color: $white;
            -webkit-box-shadow: 0 0 0px 1000px #000 inset;
            transition: background-color 5000s ease-in-out 0s;
          }
          
          button {
            height: 50px;
            font-size: 43px;
            font-family: $font-stack;
            font-weight: 800;
          }

          span {
            height: 7px;
            margin-top: 25px;
          }
        }
      }
    }

  }

  .foo {
    padding: 10% 15%;
    ul.clients {
      li {
        width: 15%;
        margin-bottom: 30px;
        img {
          width: 80%;
          display: block;
          margin: 0 auto;
          &.globo {
            width: 50%;
          }
        }
      }
    }
    ul.copy {
      text-align: center;
      margin: 120px 0 0 0;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 50px;
        &.logo-footer {
          width: 120px;
        }
        a {
          color: $white;
          text-decoration: none;
          -webkit-transition: color 1s;
          transition: color 1s;
          &:hover {
            color: $red;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }

}

// Menor que 1024
@media only screen and (max-width: 1024px){
  .section {
    &.home {
      .logo {
        width: 604px;
        height: 240px;
        margin: -120px 0 0 -302px;
      }
    }

    .wrapper {
      margin: 10% 20%;
      p {
        font-size: 36px;
        line-height: 56px;
      }
    }

    &.aurora {
      .wrapper {
        h2 {
          font-size: 33px;
          margin-bottom: 30px;
        }
        ul {
          li {
            margin-bottom: 30px;
          }
        }
      }
    }

    &.mindset {
      .wrapper {
        margin-bottom: 0;
        p {
          margin-bottom: 30px;
        }
      }
    }

    &.contato {
      .wrapper {
        .form {
          margin-top: 50px;
          
          input {
            height: 50px;
            font-size: 33px;
            font-family: $font-stack;
            font-weight: 800;
          }

          input:-webkit-autofill,
          input:-webkit-autofill:hover, 
          input:-webkit-autofill:focus
          input:-webkit-autofill {
            -webkit-text-fill-color: $white;
            -webkit-box-shadow: 0 0 0px 1000px #000 inset;
            transition: background-color 5000s ease-in-out 0s;
          }
          
          button {
            height: 50px;
            font-size: 33px;
            font-family: $font-stack;
            font-weight: 800;
          }

          span {
            height: 5px;
            margin-top: 20px;
          }
        }
      }
    }

  }

  .foo {
    padding: 10% 15%;
    ul.clients {
      li {
        width: 15%;
        margin-bottom: 30px;
        img {
          width: 80%;
          display: block;
          margin: 0 auto;
          &.globo {
            width: 50%;
          }
        }
      }
    }
    ul.copy {
      text-align: center;
      margin: 120px 0 0 0;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 50px;
        &.logo-footer {
          width: 120px;
        }
        a {
          color: $white;
          text-decoration: none;
          -webkit-transition: color 1s;
          transition: color 1s;
          &:hover {
            color: $red;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }

}

// Menor que 768
@media only screen and (max-width: 768px){
  #fp-nav ul li .fp-tooltip {
    display: none;
  }

  .section {
    &.home {
      .logo {
        width: 450px;
        height: 180px;
        margin: -90px 0 0 -225px;
      }
    }

    .wrapper {
      margin: 10% 10% 10% 20%;
      p {
        font-size: 45px;
        line-height: 55px;
      }
    }

    &.aurora {
      .wrapper {
        h2 {
          font-size: 45px;
        }
        ul {
          li {
            margin-bottom: 25px;
          }
        }
      }
    }

    &.mindset {
      .wrapper {
        margin-bottom: 0;
        p {
          margin-bottom: 25px;
        }
      }
    }

    &.contato {
      .wrapper {
        .form {
          margin-top: 40px;
          
          input {
            height: 40px;
            font-size: 25px;
          }

          input:-webkit-autofill,
          input:-webkit-autofill:hover, 
          input:-webkit-autofill:focus
          input:-webkit-autofill {
            -webkit-text-fill-color: $white;
            -webkit-box-shadow: 0 0 0px 1000px #000 inset;
            transition: background-color 5000s ease-in-out 0s;
          }
          
          button {
            height: 40px;
            font-size: 25px;
          }

          span {
            height: 3px;
            margin-top: 15px;
          }
        }
      }
    }

  }

  .foo {
    padding: 10% 17%;
    ul.clients {
      li {
        width: 15%;
        margin-bottom: 20px;
        img {
          width: 80%;
          display: block;
          margin: 0 auto;
          &.globo {
            width: 50%;
          }
        }
      }
    }
    ul.copy {
      text-align: center;
      margin: 20px 0 0 0;
      li {
        margin: 0 20px;
        &.logo-footer {
          width: 80px;
        }
        p, a {
          font-size: 12px;
        }
      }
    }
  }

}


// Menor que 480
@media only screen and (max-width: 480px){
  // Header
  .header {
    width: 100%;
    height: auto;
    padding: 15px 20px;
    .logo {
      display: none;
      width: 80px;
      height: 30px;
      float: left;
      img {
        display: block;
        width: 100%;
      }
    }
    .main-nav {
      a {
        font-size: 12px;
      }
    }
  }

  #fp-nav.left {
    left: 0;
  }

  #fp-nav ul li, .fp-slidesNav ul li {
    width: 12px;
    height: 12px;
    margin: 16px;
  }

  #fp-nav ul li a span, .fp-slidesNav ul li a span {
    margin: -5px 0 0 -6px;
  }

  .section {
    &.home {
      .logo {
        width: 190px;
        height: 76px;
        margin: -38px 0 0 -85px;
      }
    }

    .wrapper {
      margin: 10% 10% 10% 15%;
      p {
        font-size: 24px;
        line-height: 32px;
      }
    }

    &.aurora {
      .wrapper {
        h2 {
          font-size: 28px;
        }
        ul {
          li {
            margin-bottom: 25px;
          }
        }
      }
    }

    &.mindset {
      .wrapper {
        margin-bottom: 0;
        p {
          margin-bottom: 25px;
        }
      }
    }

    &.contato {
      .wrapper {
        .form {
          margin-top: 40px;
          
          input {
            height: 40px;
            font-size: 16px;
          }

          input:-webkit-autofill,
          input:-webkit-autofill:hover, 
          input:-webkit-autofill:focus
          input:-webkit-autofill {
            -webkit-text-fill-color: $white;
            -webkit-box-shadow: 0 0 0px 1000px #000 inset;
            transition: background-color 5000s ease-in-out 0s;
          }

          button {
            height: 40px;
            font-size: 16px;
            padding: 0;
            cursor: pointer;
          }

          span {
            height: 3px;
            margin-top: 15px;
          }
        }
      }
    }

  }

  .foo {
    padding: 10% 5%;
    ul.clients {
      li {
        width: 15%;
        margin-bottom: 20px;
        img {
          width: 80%;
          display: block;
          margin: 0 auto;
          &.globo {
            width: 50%;
          }
        }
      }
    }
    ul.copy {
      text-align: center;
      margin: 20px 0 0 0;
      li {
        margin: 0 20px;
        &.logo-footer {
          width: 50px;
        }
        p, a {
          font-size: 10px;
        }
      }
    }
  }

}
