$fontpath: '../fonts/';

/* Qanelas */

@font-face {
    font-family: 'Qanelas Soft';
    src: url('../fonts/subset-QanelasSoft-UltraLight.eot');
    src: url('../fonts/subset-QanelasSoft-UltraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-QanelasSoft-UltraLight.woff') format('woff'),
         url('../fonts/subset-QanelasSoft-UltraLight.ttf') format('truetype'),
         url('subset-QanelasSoft-UltraLight.svg#QanelasSoft') format('svg');
    font-weight: 100;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Qanelas Soft';
    src: url('../fonts/subset-QanelasSoft-Medium.eot');
    src: url('../fonts/subset-QanelasSoft-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-QanelasSoft-Medium.woff') format('woff'),
         url('../fonts/subset-QanelasSoft-Medium.ttf') format('truetype'),
         url('subset-QanelasSoft-Medium.svg#QanelasSoft') format('svg');
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Qanelas Soft';
    src: url('../fonts/subset-QanelasSoft-ExtraBold.eot');
    src: url('../fonts/subset-QanelasSoft-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-QanelasSoft-ExtraBold.woff') format('woff'),
         url('../fonts/subset-QanelasSoft-ExtraBold.ttf') format('truetype'),
         url('subset-QanelasSoft-ExtraBold.svg#QanelasSoft') format('svg');
    font-weight: 800;
    font-style: normal;
    text-rendering: optimizeLegibility;
}